In [1]:
import pandas as pd
import numpy as np
import shutil
import os
import glob
from sklearn.model_selection import StratifiedKFold

In [2]:
df = pd.read_csv('Data_select.csv')

In [3]:
df_name = df.loc[:,['path','grade']]

In [4]:
df_name = df_name.drop_duplicates()

In [6]:
S_kfold = StratifiedKFold(n_splits=4, random_state=5, shuffle=True)

In [7]:
for i, (train_index, test_index) in enumerate(S_kfold.split(df_name, df_name['grade'])):
    CV_train = df_name.iloc[train_index]
    CV_test = df_name.iloc[test_index]
    df_train = pd.merge(df, CV_train, left_on='path', right_on='path', how='inner')
    df_test = pd.merge(df, CV_test, left_on='path', right_on='path', how='inner')
    df_train.to_csv('train_{}.csv'.format(i),index=False,header=False)
    df_test.to_csv('test_{}.csv'.format(i),index=False,header=False)
    print(len(df_train),len(df_test))

2181 752
2184 749
2193 740
2241 692

In [10]:
df_train

,path,x1,y1,x2,y2,class,grade_x,grade_y
0,dataset/2015/1013.png,2052.0,390.0,2286.0,495.0,fracture,a,a
1,dataset/2015/1013.png,1908.0,444.0,2016.0,639.0,fracture,a,a
2,dataset/2015/1013.png,1716.0,555.0,1902.0,933.0,fracture,a,a
3,dataset/2015/1013.png,1047.0,1560.0,1191.0,1734.0,fracture,a,a
4,dataset/2015/1013.png,1452.0,1590.0,1665.0,1761.0,fracture,a,a
...,...,...,...,...,...,...,...,...
2236,dataset/normal/8100000.png,NaN,NaN,NaN,NaN,NaN,normal,normal
2237,dataset/normal/830000.png,NaN,NaN,NaN,NaN,NaN,normal,normal
2238,dataset/normal/840000.png,NaN,NaN,NaN,NaN,NaN,normal,normal
2239,dataset/normal/940000.png,NaN,NaN,NaN,NaN,NaN,normal,normal
2240,dataset/normal/970000.png,NaN,NaN,NaN,NaN,NaN,normal,normal

ValueError: Cannot convert non-finite values (NA or inf) to integer